/*
< 설명서 >

[색상]
- 흰색은 설정 안 함
- 단일 색상은 bg-my-blue라는 식으로 my를 붙일 것
- 회색은 text-gray-100 같은 식으로 사용
- main 색상은 그냥 text-main

[글씨]
- 베스킨라빈스체: title, 노토: text
- 굵기: 700, 400, 300
- 크기: px 빼고 숫자만 써서 표현
- 예시: title-48, text-700-40, text-400-20
*/

@import "tailwindcss";

@font-face {
  font-family: "Baskin";
  src: url("/fonts/baskin/BRB.woff2") format("woff2"),
    url("/fonts/baskin/BRB.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noto";
  src: url("/fonts/noto/NotoSansKR-Bold.woff2") format("woff2"),
    url("/fonts/noto/NotoSansKR-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noto";
  src: url("/fonts/noto/NotoSansKR-Regular.woff2") format("woff2"),
    url("/fonts/noto/NotoSansKR-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noto";
  src: url("/fonts/noto/NotoSansKR-Light.woff2") format("woff2"),
    url("/fonts/noto/NotoSansKR-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
 
@theme inline {
  --breakpoint-sm: 375px;
  --breakpoint-md: 744px;
  --breakpoint-lg: 1480px;
 
  --color-my-black: #0f0f0f;
  --color-gray-500: #161616;
  --color-gray-400: #5a5a5a;
  --color-gray-300: #a4a4a4;
  --color-gray-200: #dddddd;
  --color-gray-100: #eeeeee;
  --color-my-red: #ff483d;
  --color-my-blue: #29c9f9;
  --color-my-purple: #a77eff;
  --color-my-pink: #ff2a6a;
  --color-main: #efff04;
}

body {
  background: var(--color-my-black);
  color: #ffffff;
  font-family: "noto", "Baskin", serif;
}
